<!DOCTYPE html>
<html>
<head>
  <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/theme.css">
</head>
<body>
<nav>
    <ul>
        <li><a href="/">{{ title }}</a></li>
        <li><a href="/docs">Docs</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/about">About</a></li>
    </ul>
</nav>
  <header>
    <h1>{{ title }}</h1>
  </header>
  <main>
    {% block content %}{% endblock %}
  </main>
</body>
</html>
