{% extends "base.njk" %}
{% block content %}
    <header>
        <h1>{{ title }}</h1>
        <h2>Welcome, {{ user }}!</h2>
    </header>
    <main>
        <form>
            <button type="submit" formaction="/logout" formmethod="post">Logout</button>
        </form>
        <form>
            <input type="password" name="old_password" placeholder="Current Password" required>
            <input type="password" name="new_password" placeholder="New Password" required>
            <button type="submit" formaction="/change_password" formmethod="post">Change Password</button>
        </form>
        <form>
            <button style="color: var(--c3); border-color: var(--c3)" type="submit" formaction="/unregister" formmethod="post" onclick="return confirm('Are you sure you want to delete your account? This action cannot be undone.');">Delete Account</button>
        </form>
        {% block page_content %}{% endblock %}
    </main>
{% endblock %}