{% extends "main/base.njk" %}

{% block content %}
  <article>
    <h1>{{ title }}</h1>
    <form method="post" action="/login">
      <div>
        <label for="user_name">Username:</label>
        <input type="text" id="user_name" name="user_name" required="required">
      </div>
      <div>
        <label for="user_pass">Password:</label>
        <input type="password" id="user_pass" name="user_pass" required="required">
      </div>
      <button type="submit">Login</button>
    </form>
    {% if error %}
      <p class="error">{{ error }}</p>
    {% endif %}
    {% if success %}
      <p class="success">{{ success }}</p>
    {% endif %}
    <p>Don't have an account?
      <a href="/register/">Register here</a>.</p>
  </article>
{% endblock %}
{% block title %}Login{% endblock %}