body{
    background-color: var(--bg);
    color: var(--t);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    transition-duration: 1s;
    nav{
        background-color: var(--bg2);
        color: var(--t);
        padding: 0em;
        border-bottom: .3em solid var(--c1);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        ul{
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: left;
            li{
                margin: 1em;
                font-size: larger;
                font-weight: bold;
                a:hover{
                    text-decoration: none;
                }
            }
        }
    }
    article {
        padding: 20px;
        margin: 20px;
        border-radius: 8px;
        background-color: var(--bg2);
    }
    h1, h2, h3 {
        color: var(--c1);
    }
    p {
        line-height: 1.6;
    }
    a {
        color: var(--l);
        text-decoration: none;
        transition-duration: .3s;
    }
    a:hover {
        color: var(--c2);
        text-decoration: underline;
    }
    footer {
        text-align: center;
        padding: 10px;
        background-color: var(--bg2);
        color: var(--t);
    }
    header {
        color: var(--t);
        padding: 10px;
        text-align: center;
    }
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 2em;
        label{
            font-weight: bold;
            margin: 10px 0;
        }
        *{
            margin: 0;
            padding: 0;
            width: 100%;
            max-width: 100%;
            min-width: 100%;
        }
    }
    input, textarea, button{
        padding: 10px;
        margin: 10px 0;
        border: 1px solid var(--c1);
        border-radius: 4px;
        background-color: var(--bg);
        color: var(--t);
        width: inherit;
    }
}

/* Extra */
/* Blow up organization title in navigation */
body > nav:nth-child(1) > ul:nth-child(1) > li:nth-child(1) {
    scale: 1.3;
    margin-left: 2em;
}

/* Fix button and input sizing */
* { box-sizing: border-box }

.error{
    color: var(--c3);
    font-weight: bold;
    text-align: center;
    margin: 10px 0;
    border: 1px solid var(--c3);
    border-radius: 20px;
}